$board-side: 500px;
$controller-size: 110px;
$font-cabin-sketch: Cabin Sketch, Roboto, Arial, Helvetica, sans-serif;
$font-heebo: Heebo, Roboto, Arial, Helvetica, sans-serif;
$font-cinzel: Cinzel, Roboto, Arial, Helvetica, sans-serif;
$font-slackey: Slackey, Roboto, Arial, Helvetica, sans-serif;
$font-permanent-marker: Permanent Marker, Roboto, Arial, Helvetica, sans-serif;
$font-sonsie-one: Sonsie One, Roboto, Arial, Helvetica, sans-serif;