// Global Colors
$black: #000;
$white: #fff;

// Header & Footer
$header-bk-color: #caa425;
$footer-bk-color: #bea58f;
$product-title-color: #213052;
$controller-color: #7b5c3f;
$controller-bg-color: #f1dcc4;
$controller-hover-color: #dcc9b3;
$menu-header-bg-color: #2a2b2a;

$page_bk_color: #fff2e0;
$page_aside_bk_color: #ead8a4;